.layout {
  display: flex;
  background: #dadada;

  .sidebar {
    flex: 1;
    width: 100vw;
    min-height: calc(100vh - 140px);
    max-height: calc(100vh - 140px);
    margin: 20px;
    padding: 50px 20px;
    border-radius: 10px;
    background: white;

    .sidebar-logo {
      display: flex;
      align-items: center;
      gap: 5px;
      margin-bottom: 40px;
      .logo-card {
        padding: 2px;
        background: #29de98;
        color: white;
        font-weight: 300;
        border-radius: 10px;
      }
      .sidebar-logo-text {
        font-weight: bold;
        font-size: 20px;
      }
    }

    .sidebar-content {
      .nav-link {
        margin: 10px 0;
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 10px 10px;
        border-radius: 10px;
        cursor: pointer;

        .logout {
          color: red;
        }

        &:hover {
          background: #29de98;
          color: white;
        }
      }

      .active {
        background: #29de98;
        color: white;
      }

      .nav-card {
        background: #29de98;
        border-radius: 10px;
        color: white;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        button {
          border-radius: 10px;
          background: white;
          color: #29de98;
          font-weight: bold;
          padding: 5px 10px;
          border: none;
          cursor: pointer;
          margin: 10px;
        }
      }
    }
  }

  .content {
    flex: 6;
    width: 100vw;
    min-height: calc(100vh - 140px);
    max-height: 100vh;
    margin-right: 15px;
    display: flex;
    flex-direction: column;

    .header {
      flex: 1;
      display: flex;
      padding: 20px;
      height: 30px;
      background: white;
      border-radius: 10px;
      margin-top: 20px;
      align-items: center;
      justify-content: space-between;

      .avatar {
        border-radius: 25px;
        object-fit: cover;
        width: 40px;
        height: 40px;
      }

      .welcome {
      }

      .search-input {
        display: flex;
        align-items: center;
        padding: 5px 20px;
        border: 2px solid #29de98;
        border-radius: 10px;
        width: 400px;

        input {
          border: none;
          outline: none;
          width: 100%;
        }
      }

      .theme {
        display: flex;
        flex-direction: column;
      }

      .message-icon {
        border-radius: 10px;
        background: #eceefc;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;

        .message-icon {
          color: #4cadf5;
        }
      }

      .noti-icon {
        border-radius: 10px;
        background: #e9f3ec;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;

        .noti-icon {
          color: #5ee5b4;
        }
      }
    }

    .sale {
      flex: 1;
      padding: 20px;
      background: white;
      border-radius: 10px;
      height: 180px;
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      .sale-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
      }

      .calendar {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 10px;

        .icon {
          color: #2a6cfa;
        }
      }

      .sale-card-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;

        .sale-card-1 {
          flex: 1;
          height: 100px;
          padding: 20px;
          border-radius: 10px;
          background: #fcdee1;
          gap: 20px;
          display: flex;
          flex-direction: column;

          h6 {
            color: blue;
          }

          .sale-card-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
        .sale-card-2 {
          flex: 1;
          padding: 20px;
          height: 100px;
          border-radius: 10px;
          background: #c9fada;
          gap: 20px;
          display: flex;
          flex-direction: column;

          h6 {
            color: blue;
          }

          .sale-card-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
        .sale-card-3 {
          flex: 1;
          padding: 20px;
          border-radius: 10px;
          height: 100px;
          background: #e8dafa;
          gap: 20px;
          display: flex;
          flex-direction: column;

          h6 {
            color: blue;
          }

          .sale-card-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
        .sale-card-4 {
          flex: 1;
          padding: 20px;
          height: 100px;
          border-radius: 10px;
          background: #fbe9c7;
          gap: 20px;
          display: flex;
          flex-direction: column;

          h6 {
            color: blue;
          }

          .sale-card-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
      }
    }

    .charts {
      flex: 3;
      display: flex;
      gap: 5px;

      .weekly-sale-chart {
        flex: 1;
        width: 200px;
        min-height: 160px;
        overflow: hidden;
        padding: 20px;
        background: white;
        border-radius: 10px;
        margin-top: 20px;
      }
    }

    .charts-2 {
      flex: 3;
      display: flex;
      gap: 5px;
      margin-bottom: 20px;


      table {
        width: 100%;
      }

      .weekly-sale-chart {
        flex: 1;
        width: 200px;
        min-height: 160px;
        overflow: hidden;
        padding: 20px;
        background: white;
        border-radius: 10px;
        margin-top: 20px;
      }

      .recent-orders {
        flex: 2;
        width: 200px;
        min-height: 160px;
        overflow: hidden;
        padding: 20px;
        background: white;
        border-radius: 10px;
        margin-top: 20px;
      }
    }
  }
}
