<div class="layout">
  <!-- Sidebar -->
  <div class="sidebar">
    <div class="sidebar-logo">
      <div class="logo-card">
        <lucide-icon name="arrow-up-narrow-wide"></lucide-icon>
      </div>
      <span class="sidebar-logo-text">GrowthView</span>
    </div>
    <div class="sidebar-content">
      <ul>
        <li class="nav-link active">
          <lucide-icon name="circle-gauge"></lucide-icon> Dashboard
        </li>
        <li class="nav-link">
          <lucide-icon name="line-chart"></lucide-icon> Sale Analytics
        </li>
        <li class="nav-link">
          <lucide-icon name="briefcase"></lucide-icon> Products
        </li>
        <li class="nav-link">
          <lucide-icon name="shopping-cart"></lucide-icon> Orders
        </li>
        <li class="nav-link">
          <lucide-icon name="message-circle"></lucide-icon> Messages
        </li>
        <li class="nav-link">
          <lucide-icon name="user"></lucide-icon> Customers
        </li>
        <li class="nav-link">
          <lucide-icon name="settings"></lucide-icon> Settings
        </li>
        <div class="nav-card">
          <lucide-icon name="download"></lucide-icon>
          New Update available click to download
          <button>Update</button>
        </div>
        <li class="nav-link">
          <lucide-icon name="log-out" class="logout"></lucide-icon> Log Out
        </li>
      </ul>
    </div>
  </div>
  <div class="content">
    <!-- header -->
    <div class="header">
      <div class="welcome">
        <h3>Hello Gokul</h3>
        <span>Welcome Back!</span>
      </div>
      <div class="search-input">
        <lucide-icon
          name="search"
          style="margin-right: 10px"
          class="default-color"
        ></lucide-icon>
        <input type="text" placeholder="Search here..." />
        <lucide-icon name="mic" class="default-color"></lucide-icon>
      </div>
      <div class="theme">
        <lucide-icon name="sun"></lucide-icon>
        <span>Light</span>
      </div>
      <div class="message-icon">
        <lucide-icon
          name="message-square-more"
          class="message-icon"
        ></lucide-icon>
      </div>
      <div class="noti-icon">
        <lucide-icon name="bell-dot" class="noti-icon"></lucide-icon>
      </div>
      <span>Language: Eng</span>
      <img
        src="https://images.pexels.com/photos/20568187/pexels-photo-20568187/free-photo-of-mehrazin.jpeg?auto=compress&cs=tinysrgb&w=1200&lazy=load"
        alt=""
        class="avatar"
      />
    </div>
    <!-- today sales -->
    <div class="sale">
      <div class="sale-header">
        <div>
          <h4>Today's Sales</h4>
          <p>Sales Summary</p>
        </div>
        <div class="calendar">
          <lucide-icon name="calendar" class="icon"></lucide-icon>
          <span>Tue, 05-09-2024</span>
        </div>
      </div>
      <div class="sale-card-wrapper">
        <div class="sale-card-1">
          <div class="sale-card-header">
            <lucide-icon name="send-to-back"></lucide-icon>
            <h2>23</h2>
          </div>
          <h3>Total Orders</h3>
          <h6>+1% from yesterday</h6>
        </div>
        <div class="sale-card-2">
          <div class="sale-card-header">
            <lucide-icon name="users"></lucide-icon>
            <h2>23,232</h2>
          </div>
          <h3>New Customers</h3>
          <h6>+33% from yesterday</h6>
        </div>
        <div class="sale-card-3">
          <div class="sale-card-header">
            <lucide-icon name="codesandbox"></lucide-icon>
            <h2>23,232</h2>
          </div>
          <h3>Total Sales</h3>
          <h6>+13% from yesterday</h6>
        </div>
        <div class="sale-card-4">
          <div class="sale-card-header">
            <lucide-icon name="badge-dollar-sign"></lucide-icon>
            <h2>23,232</h2>
          </div>
          <h3>Total Earnings</h3>
          <h6>+73% from yesterday</h6>
        </div>
      </div>
    </div>
    <!-- charts -->
    <div class="charts">
      <div class="weekly-sale-chart">
        Weekly Sale
        <div id="weekly-sale-chart" class="weekly-sale-chart"></div>
      </div>
      <div class="weekly-sale-chart">
        Sales
        <div id="sale-chart" class="weekly-sale-chart"></div>
      </div>
      <div class="weekly-sale-chart">
        Profit
        <div id="profit-chart" class="weekly-sale-chart"></div>
      </div>
      <div class="weekly-sale-chart">
        Product Class
        <div id="product-chart" class="weekly-sale-chart"></div>
      </div>
    </div>
    <!-- charts - 2-->
    <div class="charts-2">
      <div class="weekly-sale-chart">
        Customer Satisfaction
        <div id="customerSatisficationChart" class="weekly-sale-chart"></div>
      </div>
      <div class="recent-orders">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element">{{ element.position }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef>Weight</th>
            <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef>Symbol</th>
            <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
      <div class="weekly-sale-chart">
        Sale Target
        <div id="sale-target" class="weekly-sale-chart"></div>
      </div>
    </div>
  </div>
</div>
